<!DOCTYPE html>
<html lang="en">
  <head>
    <title>iDEAL Example</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <br />

   
  

    <div id="paypal-btn"></div>
    <div id="ideal-btn"></div>

   

    <script src="https://www.paypal.com/sdk/js?client-id=<%= clientId %>&components=buttons,payment-fields,marks,funding-eligibility&enable-funding=bancontact&currency=EUR"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async></script>

    <script src="./index.js"></script>
    <div class="buttonContainer">
    <button id="get-order-btn" onclick="getOrder()">Get Order</button>
    <button id="get-order-btn" onclick="captureOrder()">Capture Order</button>
    <button type="reset" onclick="clearOrder()"> Clear Cached Order </button>
    </div>
  </body>
</html>
